.DS_Store
.idea
*.log
tmp/

build/
.cache
**/compile_commands.json

# tex things
**/.auctex-auto/
*.aux
*.fdb_latexmk
*.fls
*.pdf
*.toc
*.synctex.gz

*.jpg

# program output
**/octave-workspace
*.csv
*.bin
